x-values:
  tailscale: &tailscale
    network_mode: service:tailscale
    depends_on:
      - tailscale

  environment: &common-environment
    - PUID=1000
    - PGID=1000
    - TZ=Europe/Berlin

services:
  tailscale:
    image: tailscale/tailscale:v1.90.6
    hostname: homelab
    env_file:
      - .env
    environment:
      TS_SERVE_CONFIG: "/serveconfig/serveconfig.json"
      TS_STATE_DIR: /var/lib/tailscale
      TS_USERSPACE: false
    volumes:
      - ./state/tailscale:/var/lib/tailscale
      - ./config/tailscale:/serveconfig
    devices:
      - /dev/net/tun:/dev/net/tun
    cap_add:
      - net_admin
    restart: unless-stopped
    post_start:
      - command: /serveconfig/advertise-services.sh

  prowlarr:
    !!merge <<: *tailscale
    image: linuxserver/prowlarr:2.1.5.5216-ls131
    environment: *common-environment
    volumes:
      - /mnt/storage:/storage
      - ./state/prowlarr:/config
    restart: unless-stopped

  radarr:
    !!merge <<: *tailscale
    image: linuxserver/radarr:5.28.0.10274-ls286
    environment: *common-environment
    volumes:
      - /mnt/storage:/storage
      - ./state/radarr:/config
    restart: unless-stopped

  sonarr:
    !!merge <<: *tailscale
    image: linuxserver/sonarr:4.0.16.2944-ls297
    environment: *common-environment
    volumes:
      - /mnt/storage:/storage
      - ./state/sonarr:/config
    restart: unless-stopped

  nzbget:
    !!merge <<: *tailscale
    image: linuxserver/nzbget:v25.4-ls219
    environment: *common-environment
    volumes:
      - /mnt/storage:/storage
      - ./state/nzbget:/config
      - ./state/nzbget-data:/volume
    restart: unless-stopped

  qbittorrent:
    !!merge <<: *tailscale
    image: linuxserver/qbittorrent:5.1.2-r3-ls423
    environment: *common-environment
    volumes:
      - /mnt/storage:/storage
      - ./state/qbittorrent:/config
    restart: unless-stopped
